include/OgreCommon
src/OgreCommon

build/
bin/Debug
bin/MinSizeRel
bin/Release
bin/RelWithDebInfo
bin/Data/Hlms/Common
bin/Data/Hlms/Pbs
bin/Data/Hlms/Unlit
bin/Data/Materials/Common
bin/Data/DebugPack.zip
bin/Data/resources2.cfg

Dependencies/Ogre


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
